#Col1{
    background-color: rgb(0, 217, 255);
}
#Col2{
    background-color: rgb(0, 255, 170);
}
#Col3{
    background-color: rgb(208, 255, 0);
}
#Col4{
    background-color: rgb(131, 125, 255);
}